body {
    background-color: rgb(197, 189, 189);
}

.scores a {
    background-position: inherit;
    background-color: teal;
    color: black;
    font-weight: bold;
    opacity: .75;
}

.scores a:hover {
    color: white;
    opacity: 1;
}

#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 750px;
    border: 5px solid teal;
    flex-grow: inherit;
}
#startTime {
    background-color: teal;
    margin-left: 40%;
    padding: 15px 32px;
    font-size: 20px;
    color: Black;
    font-weight: bold;
    opacity: .75;
}

#startTime:hover {
    color:white;
    opacity: 1;
}

#questionsDiv {
    position: relative;
    margin: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(17, 84, 104);
}

#currentTime {
    float: right;
    font-size: 20px;
    font-weight: bold;
    background-color: teal;
}

#goBack {
    background-color: teal;
    flex-flow: row;
    padding: 10px;
    font-size: 20px;
    color: black;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
    opacity: .75;
}

#goBack a {
    color: black;
}

#goBack a:hover {
    color:white;
    opacity: 1;
}


#clear {
    background-color: teal;
    padding: 10px;
    font-size: 20px;
    color: black;
    top: 30%;
    right: 5%;
    opacity: .75;
}

#clear:hover {
    color:white;
    opacity: 1;
}

button {
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: teal;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: black;
}

#Submit:hover {
    color:white;
}

label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
    font-weight: bolder;
}

li {
    background-color: teal;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: black;
    text-align: center;
    opacity: .75;
}

li:hover {
    color:white;
    opacity: 1;
}

#createDiv {
    margin-top: 20px;
    border-top: 5px solid teal;
}
