header {
    float:left;
}
#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid crimson;
    box-shadow: darkgrey;
}

#startTime {
    background-color: crimson;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    box-shadow: darkgrey;
}
#questionsDiv {
    text-align: center;
    font-weight: bolder;
    margin: 30px;
    margin-top: 30px;
}

#currentTime {
    float: right;
}

#goBack {
    background-color: crimson;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
    box-shadow: darkgrey;
}

#clear {
    background-color: crimson;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
    box-shadow: darkgrey;
}

button {
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: crimson;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color:crimson;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}


#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
    font-weight: bolder;
}

