#wrapper {
    position: absolute;
    left: 25%;
    top: 15%;
    width: 500px;
    height: 500px;
    border: 1px solid crimson;
}
#startTime {
    background-color: crimson;
    margin-left: 30%;
    padding: 15px 25px;
    font-size: 30px;
    color: white;
}
#questionsDiv {
    margin: 10px;
}

#currentTime {
    float: right;
}

#goback {
    background-color: crimson;
    position: relative;
    padding: 5px;
    font-size: 25px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#clear {
    background-color: crimson;
    position: relative;
    padding: 10px;
    font-size: 25px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}
button {
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}
#Submit {
    background-color: crimson;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

#choices {
    background-color: crimson;
    margin-top: 40px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}